<div class="profile-page">

  <% if @user.mentorships.length >0 %>
    <div id="current-mentorships">
      <h3>Your Current Mentorships</h3>
      <% @user.possible_matches.each do |mentee|%>
          <div id="mentorship">
            <% if Mentorship.find_by(mentor_id: @user.id, mentee_id: mentee.id) != nil %>
            <%= render partial: 'mentees/profile', layout: false, locals: {mentee: mentee} %>
            <%= "Match Score: #{@user.match_score(mentee)}" %><br>
            <% end %>
          </div>
      <% end %>
    </div>
  <% end %>

  <div id="top-matches">
    <h3>Your Top Matches</h3>
    <% @user.possible_matches.each do |mentee|%>
          <% if Mentorship.find_by(mentor_id: @user.id, mentee_id: mentee.id) == nil %>
          <div id="top-match">
          <%= render partial: 'mentees/profile', layout: false, locals: {mentee: mentee} %>
          <%= "Match Score: #{@user.match_score(mentee)}" %><br>
          <%= link_to "Accept Match", "/users/#{mentee.id}/mentorships/", method: :post %>
          </div>
          <% end %>

    <% end %>
  </div>

</div>
