<div class="profile-page">

  <div id="mentor_profile">
    <%= render partial: 'mentor_profile', layout: false, locals: {mentor: @user} %>
  </div>

  <% if @user.mentorships.length >0 %>
    <div id="current-mentorships">
      <h3>Your Current Mentorships</h3>
      <% @user.mentorships.each do |mentorship|%>
        <div id="mentorship">
          <%= render partial: 'mentee_profile', layout: false, locals: {mentee: mentorship.mentee} %>
          <%= "Match Score: #{@user.match_score(mentorship.mentee)}" %><br>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= binding.pry %>
  <% if @user.possible_matches.length > 0 %>
    <div id="top-matches">
      <h3>Your Top Matches</h3>
      <% @user.possible_matches.each do |mentee|%>
        <% if Mentorship.find_by(mentor_id: @user.id, mentee_id: mentee.id) == nil %>
          <div id="top-match">
            <%= render partial: 'mentee_profile', layout: false, locals: {mentee: mentee} %>
            <%= "Match Score: #{@user.match_score(mentee)}" %><br>
            <%= button_to "Accept Match", "/mentorships", method: :post, params: {mentor_id: @user.id, mentee_id: mentee.id} %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

</div>
