<p>
  Name: <%= mentor.first_name %><br>
  Location: <%= mentor.location %><br>
  Age: <%= mentor.age %><br>
  Gender: <%= mentor.gender %><br>
  Prefers Contact Via: <%= contact_converter(mentor.preferred_communication) %><br>
  Additional Info: <%= mentor.addl_info%><br>
  Areas of Expertise:
</p>
<ol class="challenge-list">
<% mentor.areas.each do |area| %>
  <li>
    <%= challenge_converter(area.area_type)%>
  </li>
<% end %>
</ol>
