<h3>Your Current Mentorships</h3>
<% @mentor.possible_matches.each do |mentee|%>
    <% if Mentorship.find_by(mentor_id: @mentor.id, mentee_id: mentee.id) != nil %>
    <%= render partial: 'mentees/profile', layout: false, locals: {mentee: mentee} %>
    <%= "Match Score: #{@mentor.match_score(mentee)}" %><br>
    <% end %>
<% end %>

<h3>Your Top Matches</h3>
<% @mentor.possible_matches.each do |mentee|%>
    <% if Mentorship.find_by(mentor_id: @mentor.id, mentee_id: mentee.id) == nil %>
    <%= render partial: 'mentees/profile', layout: false, locals: {mentee: mentee} %>
    <%= "Match Score: #{@mentor.match_score(mentee)}" %><br>
    <%= link_to "Accept Match", "/mentees/#{mentee.id}/mentorships/", method: :post %>
    <% end %>
<% end %>